namespace TootNet.Tests
{
    public static class AccountInformation
    {
        public const string Instance = "mastodon.social";
        public const string ClientId = "";
        public const string ClientSecret = "";
        public const string AccessToken = "";

        public static Tokens GetTokens()
        {
            return new Tokens(Instance, AccessToken, ClientId, ClientSecret);
        }
    }
}
